@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/ofo5hjd.css");

@font-face {
  font-family: "customslang";
  src: url('./assets/customslang.woff') format('woff'),
  url('./assets/customslang.woff2') format('woff2');
  font-style: italic;
}

@keyframes spin {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to   { transform: translate(-50%, -50%) rotate(360deg); }
}

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: "larken", sans-serif;

  --size-xs: 14px;
  --size-s: 16px;
  --size-logo: 20px;
  --size-m: 24px;
  --size-l: 32px;
  --size-xl: 40px;
  --size-extral: 64px;


  --thin-weight: 100;
  --extralight-weight: 200;
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;
  --bold-weight: 700;

  --dark-green: #484C41;
  --dark-gray: #2C2824;
  --light-gray: #858585;
  --ultra-light-gray: #F0EEEA;
  --beige: #EDE9DE;
  --ultra-light-beige: #F9F6ED;
  --off-white: #fffffd;
  --vintage-yellow: #E4C527;

  --header-logo: normal normal var(--light-weight) var(--size-logo)/1.5 var(--font-secondary);
  --header-a: normal normal var(--thin-weight) var(--size-xs)/1 var(--font-secondary);
  --h1: normal normal var(--thin-weight) var(--size-xl)/1 var(--font-secondary);
  --h2: normal normal var(--thin-weight) var(--size-l)/1.5 var(--font-secondary);
  --h3: normal normal var(--thin-weight) var(--size-m)/1.5 var(--font-secondary);
  --h4: normal normal var(--light-weight) var(--size-s)/1.5 var(--font-secondary);
  --p: normal normal var(--light-weight) var(--size-xs)/1.5 var(--font-primary);

  --grid-step: 24px;
}


/*font start*/
  h1 {
    font: var(--h1)

  }

  h2 {
    font: var(--h2);
  }

  h3 {
    font: var(--h3);
  }

  h4 {
    font: var(--h4);
  }

  .logo {
    font: var(--header-logo);
    text-decoration: none;
    color: var(--beige);

  }

  p {
    font: var(--p);
  }

  nav a {
    font: var(--header-a);
    text-decoration: none;
    padding: 8px 0px 8px 0px;
    border-bottom: 1px solid transparent;  
  }
/*font end*/


/* button start*/
  button {
    font: var(--header-a);
    border: none;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    position: relative;
  }

  button.processing {
    cursor: none;
  }

  .spinner {
    display: none;
    width: 8px;
    height: 8px;
    border: 1.5px solid white;
    border-top-color: var(--dark-gray);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  /*processing*/
  button.processing .buttonText {
    visibility: hidden;
  }

  button.processing .spinner {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: spin 0.8s linear infinite;
  }

  .primary {
    color: var(--off-white);
    background-color: var(--dark-gray);
  }

  .secondary {
    color: var(--dark-gray);
    background-color: var(--off-white);
  }

  .ghostPrimary {
    border: 1px solid var(--dark-gray);
    background-color: transparent;
    color: var(--dark-gray);
  }

  .ghostSecondary {
    border: 1px solid var(--off-white);
    background-color: transparent;
    color: var(--off-white);
  }

  .small {
    padding: 16px 24px 16px 24px;
  }

  .medium {
    padding: 24px 32px 24x 32px;
  }
  

/* button end*/


/*body start*/
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-secondary);
    color: var(--dark-gray);
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    margin:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    /*background-image: url("./assets/paper_grain_texture.png");*/
  }

  body.locked {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  main {
    flex: 1;
    position: relative;   
  }
/*body end*/


/*header start*/
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 32px;
    z-index: 80;
    position: sticky;
    top: 0;
    left: 0;

    transition: 
      background-color .25s ease-in-out;
  }

  header:hover {
    background-color: var(--off-white);
  }

  header .leftLinks, header .rightLinks {
    flex: 1;
  }

  header nav a {
    position: relative;
    color: var(--ultra-light-beige);
  }

  header .rightLinks {
    text-align: right;
    color: var(--ultra-light-beige);
  }

  header .leftLinks {
    display: flex;
    flex-direction: row;
    gap: 16px;
    text-align: left;
  }

  header .logo {
    text-align: center;
  }

  header nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: .8px;
    background-color: var(--underline-color, currentColor);
    transition: width 0.8s ease;
  }


  header nav a:hover::after {
    width: 100%;
  }

  header nav a.active::after {
    width: 100%;
  }

  header nav a:hover {
    color: var(--ultra-light-beige);
  }

  header nav a.active {
    color: var(--ultra-light-beige);
  }
/*header end*/

/*grid start*/
  .grid {
    height: 100vh;
    position: relative;
  }

  .grid div {
    transform: scaleY(0); /* Initial state */
    transform-origin: top;
    transition: transform 4s cubic-bezier(0.1, 0, 0.115, 0.995);
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100vh;
  }

  .grid-wrap {
    position: fixed;
    pointer-events: none;
    inset: 0;
    z-index: -10;
  }

  .grid-wrap.is-visible .grid div {
    transform: scaleY(1);
  }

  .grid-wrap.is-visible .grid-overlay div {
    transform: scaleY(1);
  }

  /* vertical lines */
  .grid-wrap::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: 
      repeating-linear-gradient(
          to right,
          rgba(0, 128, 128, 0.075) 0,
          rgba(0, 128, 128, 0.075) 1px,
          transparent 1px,
          transparent var(--grid-step)
        );    
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 4s cubic-bezier(0.1, 0, 0.115, 0.995);
  }

  .grid-wrap.is-visible::before {
    transform: scaleY(1);
  }

  /* horizontal lines */
  .grid-wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: 
        repeating-linear-gradient(
          to bottom,
         rgba(0, 128, 128, 0.075) 0,
         rgba(0, 128, 128, 0.075) 1px,
          transparent 1px,
          transparent var(--grid-step)
        );
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 4s cubic-bezier(0.3, 0, 0.115, 0.995);
  }
  .grid-wrap.is-visible::after {
    transform: scaleX(1);
  }

/*grid ends*/


section {
  width: 100%;
  overflow-x: hidden;
}


.hero-section {
  background-image: url("./assets/hero-image.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-top: -80px;   
  position: relative; 
}

.hero-section h1 {
  position: absolute;
  bottom: 0;
  color: var(--beige);
  font-size: clamp(2rem, 15vw, 20rem);
  line-height: 0;
  /*margin: 0; parallax text option*/
  text-align: center;
  width: 100%;
}


/*section-one starts*/
  .section-one {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 32px 40px 32px;
    gap: 32px;
  }
      
  .section-one .shortblurb {
    position: relative;
  }

  .shortblurb h1 {
    font-size: clamp(2rem, 3vw, 4rem);
    margin: 0;
  }

  .flower {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    object-fit: cover;
    height: 1em;
    width: auto;
  }

  .office {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    object-fit: cover;
    height: 1em;
    width: auto;
  }

  .candles {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    object-fit: cover;
    height: 1em;
    width: auto;
  }

  .ocean {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    object-fit: cover;
    height: 1em;
    width: auto;
  }




/*section one ends*/


   .binder {
    width: 40%;
    position: absolute;
    right: 10%;
    top: 28%;
    z-index: 20px;
  }


/*sectiontwo starts*/
  .section-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--off-white);
 }

  .vibe {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url("./assets/mood.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 100vh;
  }

  .section-two .shortblurb {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 180px;
  }

  .text {
    max-width: 450px;
  }

  .ineprofile {
    width: 50%;
    padding-top: 56px;
  }

/*section 2 ends*/
  


/*section 3 starts*/

  .section-three {
    position: sticky; 
    top: 0;  
    /*background-color: var(--dark-green);*/
    height: 100vh;

    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section-three .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    position: absolute;
    overflow: hidden;

    background-position: 50% 15%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 70%;
    border-radius: 80px;
    background-image: url("./assets/DSCF1442.png");
    background-attachment: fixed;
    will-change: width, height, border-radius;
  }

  .mainCTAarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    color: var(--vintage-yellow);
    gap: 16px;
  }

 
  .overlap {
    background-image: url("./assets/DSCF0994.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .connection {
    margin-left: -30px;
    border: 1px solid var(--off-white);
    border-radius: 100%;
    padding: 8px 16px 8px 16px;
    color: var(--off-white);
  }
  
  .creation {
    margin-right: -30px;
    text-align: left;
    color: var(--off-white);
  }

  p.slang {
    font-family: "customslang";
  }

  .letswork {
    margin-top: 
    margin-bottom: -30px;
    font-size: clamp(24px, 10vw, 100px);
    z-index: 100;
    color: var(--off-white);
  }

  .together {
    margin-top: -50px;
    margin-bottom: 10px;
    font-size: clamp(24px, 10vw, 80px);
    color: var(--off-white);
  }

  .content .resume {
    font: var(--header-a);
    color: color: var(--off-white);
    padding: 40px 64px 40px 64px;
    border: none;
    background-color: var(--dark-gray);
    text-align: center;
  }

  .imgfilter {
    position: absolute;
    width: 100%;
    border-radius: 100px;
    overflow: hidden; /* Keeps overlay inside rounded corners */
  }

  .imgfilter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 84, 82, 0.4); /*image overlay*/
  }
/*section 3 ends*/

/*section 4 start*/
  .section-four {
    /*background-color: var(--dark-green);*/
    height: 70vh;
    z-index: 0;
  }
/*section 4 ends*/

/*footer*/
  .footer {
    width: 100%;
    right: 0;
    background-color: var(--dark-gray);
  }

  .footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--off-white);
    padding: 32px;
  }

  .footer1 nav a {
    color: var(--dark-gray);
    position: relative;
  }

  .footer1 nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: .8px;
    background-color: var(--underline-color, currentColor);
    transition: width 0.8s ease;
  }

  .footer1 nav a:hover::after {
    width: 100%;
  }

  /* optional: if you ever add .active to footer links too */
  .footer1 nav a.active::after {
    width: 100%;
  }

  .footer1 nav {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }


  .footer2 {
    text-align: right;
    padding-right: 32px;
    padding-left: 32px;
  }

  .copyright {
    font-family: var(--font-secondary);
    font-size: 12px;
    color: var(--off-white);
    font-weight: var(--thin-weight);
  }


  
/* Mobile Starts */

  
   .open-menu, .menuPanel, .close-button {
      display: none; /*hide mobile stuff on desktop*/
    }



    @media (max-width: 768px) {

      /*mobile menu start*/
      /* turn off desktop navigation */
      header .leftLinks,
      header .rightLinks {
        display: none;
      }

      body.menu-open {
        overflow: hidden;
      }

      /* turn on menu */
      .open-menu {
        display: block;
        font: var(--header-a);
        color: var(--dark-gray);
        text-decoration: none;
        padding: 0;
        background-color: transparent;
      }

      header {
        background-color: var(--ultra-light-beige);
        z-index: 1;
        align-items: center;
      }

      .logo {
        color: var(--dark-gray);
      }

      .menuPanel {
        position: fixed;
        top: 0;
        right: -800px;
        width: 100%;
        height: 100vh;
        z-index: 10;
        background-color: var(--dark-gray);
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 32px;
        padding: 32px;
        box-sizing: border-box;
        transition: right .3s ease;
      }

      .menuPanel a  {
        font-family: var(--font-secondary);
        font-size: var(--font-size-s);
        gap: 32px;
        color: white;
        text-align: center;
        text-decoration: none;
      }

      .menuPanel.open {
        right: 0;
      }

      .close-button {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 1em;
        right: 32px;
        cursor: pointer;
      }

      .menuPanel-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        flex: 1;
      }

      .menuPanel button {
        padding: 40px 24px 40px 24px;
        width: 100%;    
        margin: 0 32px;
        border: none;
      }

      .menuPanel button a{
        font: var(--header-a);
        color: var(--dark-gray);
      }
      /*mobile menu ends*/

      /*hero starts mobile*/
      .hero-section {
        background-attachment: scroll;   /* turn off fixed on iOS */
        background-size: cover;          /* avoid the “floating image” look */
        background-position: center;     /* or center 60% etc */
        height: 80svh;                  /* define height, not just min-height */
        margin-top: 0;  
      }
      /*hero ends mobile*/


      /*sections start - mobile*/

      /*section one mobile*/
      .studio {
        display: inline-block;
        vertical-align: middle;
        border-radius: 4px;
        object-fit: cover;
        height: 16px;
        width: auto;
      }

      /*section two mobile*/
      .section-two {
        display: flex;
        flex-direction: column;
        padding-top: 0;
      }
    
      .vibe {
        width: 100%;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
      }

      .ineprofile {
        width: 100%;
      }


      .section-two .shortblurb{
        padding: 0 32px 32px 32px;
        box-sizing: border-box;
      }

      .text h4 {
        padding-bottom: 16px;
      }

      .binder {
        display: none;
      }

      /*section three mobile*/
      .section-three {
        touch-action: pan-y;
      }

      .section-three .container {
        /* Center it perfectly */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        /* Tall vertical pill */
        width: 70%;
        height: 90%;

        /* Big oval ends*/
        border-radius: 300px;
      }

      .resume {    
        padding: 40px 24px 40px 24px;
      }

      /*footer mobile */
       .footer1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
      }

      .footer1 nav{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
      }

      .footer2 {
        text-align: center;
      }
      /*footer end*/

  }
  

  /*tablet*/
    @supports (height: 100svh) {
      .section-three { 
        height: 100svh; 
      }
    }

    @supports (height: 100dvh) {
      .section-three { height: 100dvh; }
    }
  

  /*1320px*/
    @media (max-width: 1200px) {

    .section-two {
      padding-top: 0;
    }

    .vibe {
      background-size: 90%;
    }
    
  }



/* Mobile Ends */
